.box{
    display: flex;
    justify-content: space-around;
    
}
.box1{
    border: 2px solid rgb(229, 229, 240);
    padding: 10px;
}
.box2{
    border: 2px solid rgb(229, 229, 240);
    padding: 10px;
}
.box3{
    border: 2px solid rgb(229, 229, 240);
    padding: 10px;
}

.div h3{
    padding-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.cont{
    text-align: center;
    padding-top: 50px;
    background-color: rgb(146, 185, 185);
    padding-bottom: 20px;
}
.lap{
   
    background-color: rgb(103, 101, 105);
   margin: 50px;
    
}
.lap h3{
    align-items: center;
    text-align: center;
}